@font-face {
    src: url('Helvetica-Roman.ttf');
}
.top {
    -fx-padding: 30 40;
    -fx-font-size: 40;
    -fx-text-background-color: #FFFFFF;
    -fx-font-family: "Helvetica LT Std";
}
.center2 {
    -fx-font-size: 23;
    -fx-spacing: 20;
    -fx-padding: 30 250;
    -fx-alignment: center-right;
    -fx-text-background-color: #FFFFFF;
    -fx-font-family: "Helvetica LT Std";
}
.modsBox{
    -fx-spacing: 20;
}
.modsList{
    -fx-spacing: 20;
    -fx-font-size: 23;
}
.skinsBox{
    -fx-spacing: 20;

}
.bottom{
    //-fx-background-color: #FFFFFF;
    //-fx-opacity: 40%;
}
.BottomButtons{
    -fx-font-size: 20;
}